@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #0096c7, #03045e);
}
.tab{
    box-shadow: 2px 2px 8px;
    border: 2px solid white;
}

.container{
    box-shadow: 2px 2px 4px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    transform-style: preserve-3d;
    transition: transform 5s;
}
